/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"),
    url("../fonts/lato-v15-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"),
    url("../fonts/lato-v15-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v15-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"),
    url("../fonts/lato-v15-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v15-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato" !important;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 auto;
  max-width: 1060px;
  padding: 0 15px;
}

.arrow {
  opacity: 1;
  padding-right: 59px;
}

.arrow:hover {
  opacity: 0.8;
  padding-right: 80px;
}

/* Header styles start */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  opacity: 1;
  color: #ffffff;
}

.header__link:hover,
.header__icon:hover {
  opacity: 0.7;
}

.header__icon {
  opacity: 1;
}

/* Header styles end */

/* Intro styles start */

.intro {
  min-height: 100vh;
  padding-top: 263px;
  padding-bottom: 223px;
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
}

.intro__title {
  margin-bottom: 22px;
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
}

.intro__desc {
  max-width: 546px;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}

.search-form__input {
  width: 297px;
  background: transparent url(../img/svg/Oval.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form__input::placeholder {
  color: white;
}

.search-form__button {
  padding: 15px 39px;
  font-size: 24px;
  font-weight: 500px;
  color: white;
  background: #1b7dff;
  border: 0;
}

.search-form__button:hover,
.search-form__button:focus,
.search-form__button:active {
  background: #0e66da;
}

/* Intro styles end */

/* Benefits styles start */

.benefits {
  margin-bottom: 131px;
}

.benefits__wrap {
  max-width: 1262px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
  padding: 0 15px;
}

.benefits__title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  background-color: white;
  padding: 93px 100px 88px 100px;
  position: absolute;
  transform: translateY(-100%);
  top: 0;
  left: 0;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}

.benefits__card {
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits__card-ico {
  max-width: 66px;
  max-height: 66px;
  margin-bottom: 37px;
  transform: scale(1);
}

.benefits__card-ico:hover {
  transform: scale(1.1);
}

.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits__card-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits__card-info {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: #006dfe;
  padding-right: 59px;
  background: url(../img/svg/Shape.svg) no-repeat right;
}

/* Benefits styles end */

/* Places styles start */

.places {
  margin-bottom: 131px;
}

.places__wrap {
  max-width: 1264px;
  padding: 0 15px;
  background-color: white;
  margin: 0 auto;
  position: relative;
}

.places__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places__title {
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  background: url(../img/svg/Line.svg) no-repeat left bottom;
  padding-bottom: 7px;
}

.places__all {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  background: url(../img/svg/Shape.svg) no-repeat right 8px;
  padding-right: 59px;
  color: #006dfe;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
}

.places__card {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.places__card:hover .places__card-img {
  transform: scale(1.05);
}

.places__card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places__card-lg {
  grid-column: span 3;
}

.places__card-sm {
  grid-column: span 2;
}

.places__card-title {
  padding-left: 29px;
  padding-bottom: 27px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  position: absolute;
  transform: translateY(-100%);
  color: white;
  z-index: 3;
}

.places__card-img {
  width: 100%;
  height: 100%;
  transition: 0.15s all;
}

.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/* Places styles end */

/* Offers styles start */

.offers {
  margin-bottom: 139px;
}

.offer {
  margin-bottom: 77px;
}

.offers__offer {
  display: grid;
  justify-content: space-between;
  grid-gap: 108px;
  grid-template-columns: repeat(2, 1fr);
}

.offers__wrap {
  margin: 0 auto;
  max-width: 1271px;
  padding: 0 15px;
}

.offers__offer-info {
  grid-column: span 1;
  padding-top: 26px;
}

.offers__offer-img {
  grid-column: span 1;
}

.offers__offer-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}

.offers__offer-second-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 45px;
}

.offers__offer-desc {
  width: 519px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.offers__offer-second-desc {
  width: 519px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 94px;
}

.offers__offer-all {
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/Shape.svg) no-repeat right center;
  padding-right: 60px;
}

.offers__offer-second-block {
  padding-left: 47px;
}

/* Offers styles end */

/* Top styles start */

.top {
  margin-bottom: 144px;
}

.top__wrap {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

.top__title {
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  background: url(../img/svg/Line.svg) no-repeat left bottom;
  padding-bottom: 7px;
  margin-bottom: 54px;
}

.top__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}

.top__card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top__card-stats:hover,
.top__card-pic:hover {
  transform: scale(1.05);
}

.top__card {
  display: flex;
  flex-direction: column;
}

.top__card-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
}

.top__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin: 0 auto 0 0;
}

.top__card-likes {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-right: 20px;
  background: url(../img/svg/Likes.svg) no-repeat right;
  margin-right: 14px;
}

.top__card-comments {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-right: 23px;
  background: url(../img/svg/Comments.svg) no-repeat right;
}

.top__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}

.top__card-more {
  width: 118px;
  padding: 12px 19px;
  background: #006dfe;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin: auto 0 0 0;
}

.top__card-more:hover,
.top__card-more:focus,
.top__card-more:active {
  background: #0e66da;
}

/* Top styles end */

/* Video styles start */

.video {
  width: 100%;
}

.video__wrapper {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.video__item {
  padding-top: 56.25%;
}

.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Video styles end */

/* Footer styles start */

.footer {
  background-color: #0e1d28;
  padding: 119px 0 119px 250px;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
}

.footer__logo {
  width: 50%;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.footer__columns:last-child {
  padding-right: 300px;
}

.footer__columns-element-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.footer__columns-link {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

/* Footer styles end */

/* Responsive styles start */

@media screen and (max-height: 850px) {
  .wrapper {
    margin-bottom: 100px;
  }
}

/* @media screen and (max-width: 1060px) {
  section {
    width: max-content;
  }
} */

@media screen and (max-width: 924px) {
  .search-form__input {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 744px) {
  .search-form__info {
    display: grid;
    justify-content: space-evenly;
  }
}

/* Responsive styles end */
